* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --button-color: #0061ff;
    --main-color: #b4d0e7;
    --space: 100px;
}

.flex {
    display: flex;
}

h1 {
    font-size: 80px;
}

/* HEADER */

nav {
    justify-content: space-between;
}

.box-nav {
    width: 600px;
    align-items: center;
    padding: .2rem .5rem;
}

.right-nav {
    justify-content: flex-end;
}

nav img {
    height: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 1rem;
}

button {
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: 2px;
    background-color: white;
}

.right-nav button:last-child {
    background-color: var(--button-color);
    color: white;
}

#hero-section {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 1200px;
    padding-top: 80px;
}

.hero-container .row {
    margin-top: 50px;
}

.hero-col-left {
    width: 33%;
    flex-direction: column;
}

.hero-col-right img {
    position: absolute;
    width: 750px;
}

.hero-col-left p {
    margin-bottom: 20px;
    padding-right: 20px;
}

.hero-col-left button {
    width: 180px;
    padding: .7rem 0;
    margin-bottom: 10px;
    background-color: transparent;
}

.hero-col-left button:first-of-type {
    background-color: var(--button-color);
    color: white;
}

header i {
    margin: 40px 0;
    font-size: 50px;
}

/* MAIN */

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space);
}

.plan-section {
    width: 900px;
}

/* FOOTER */