* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --button-color: #0061ff;
    --main-color: #b4d0e7;
    --space: 100px;
}

.flex {
    display: flex;
}

h1 {
    font-size: 80px;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    margin: 2px;
    background-color: white;
}

section {
    width: 950px;
    margin-bottom: var(--space);
}

/* HEADER */

/* NAV */

nav {
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.box-nav {
    width: 600px;
    align-items: center;
    padding: .2rem .5rem;
}

.right-nav {
    justify-content: flex-end;
}

nav img {
    height: 20px;
}

nav ul {
    display: flex;
    padding: 15px;
}

nav a {
    text-decoration: none;
    margin: 1rem;
    color: black;
}

.right-nav button:last-child {
    background-color: var(--button-color);
    color: white;
}

/* HERO-SECTION */

#hero-section {
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.hero-container {
    width: 1200px;
    padding-top: 80px;
}

.hero-container .row {
    margin-top: 50px;
}

.hero-col-left {
    width: 33%;
    flex-direction: column;
}

.hero-col-right img {
    position: absolute;
    width: 750px;
}

.hero-col-left p {
    margin-bottom: 20px;
    padding-right: 20px;
}

.hero-col-left button {
    width: fit-content;
    padding: .7rem 0;
    margin-bottom: 10px;
    background-color: transparent;
}

.hero-col-left button:first-of-type {
    background-color: var(--button-color);
    color: white;
}

header i {
    margin: 40px 0;
    font-size: 50px;
}

/* MAIN */

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space);
}

/* PLAN-SECTION */

.radio {
    padding: 30px 0;
}

.radio input:last-of-type {
    margin-left: 2rem;
}

.plan-container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.plan-container .col {
    border: 1px solid #d0d0d3;
    max-width: 31%;
}

.title-plan {
    border-bottom: 1px solid #d0d0d3;
    text-align: center;
    padding: 10px;
}

.plan-text-body,
.plan-highlights,
.button {
    padding: 25px;
}

.fa-check {
    color: var(--button-color);
}

.price-plan {
    display: block;
    padding: 15px 0;
    font-size: small;
    font-weight: bold;
}

.plan-text-body ul {
    padding: 15px 0;
}

.plan-text-body li,
.plan-highlights li {
    margin: 15px 0;
}

.plan-text-body button {
    background-color: var(--button-color);
    color: white;
    margin-bottom: 15px;
    width: 100%;
}

.col hr {
    width: 50px;
    margin: 25px;
    color: #d1d1d4;
}

.plan-container i {
    margin-right: 10px;
}

.plan-container .fa-check {
    color: var(--button-color);
}

.bottom-col {
    max-width: 100%;
    width: 100%;
    border: 1px solid #d1d1d4;
}

.bottom-col button {
    background-color: var(--button-color);
    color: white;
    width: fit-content;
}

/* FIND-PARTNER-SECTION */

#find-partner-section img {
    width: 550px;
}

#find-partner-section p {
    padding: 15px 0;
}

#find-partner-section .right-box {
    padding: 35px;
}

#find-partner-section .right-box button {
    border: 1px solid black;
}

/* OPERATION-SECTION */

#operation-section {
    flex-wrap: wrap;
}

.operation-container {
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 30px;
}

.box-operation {
    width: 30%;
}

.box-operation img {
    width: 250px;
}

.box-operation h3 {
    margin: 25px 0;
}

/* INFO-BUSINESS-SECTION */

#info-business-section h2 {
    width: 350px;
    padding-bottom: 50px;
}

/* PARTNER-SECTION */

#partner-section {
    width: 100vw;
    margin-bottom: 0;
}

.partner-box {
    flex-wrap: wrap;
    width: calc(100vw / 3);
}

.partner-logo-box {
    width: calc((100vw /3) / 2);
    height: calc((100vw /3) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#partner-section img {
    width: 50%;
}

.l .partner-logo-box:nth-child(1) {
    background-color: #a2d39b;
}

.l .partner-logo-box:nth-child(2) {
    background-color: #61082b;
}

.l .partner-logo-box:nth-child(3) {
    background-color: #0093ce;
}

.l .partner-logo-box:nth-child(4) {
    background-color: #ff1c1c;
}

.r .partner-logo-box:nth-child(1) {
    background-color: #d5001f;
}

.r .partner-logo-box:nth-child(2) {
    background-color: #b4d0e7;
}

.r .partner-logo-box:nth-child(3) {
    background-color: #0d2481;
}

.r .partner-logo-box:nth-child(4) {
    background-color: #ffd830;
}

.partner-box.middle {
    background-color: #f5f5f5;
    padding: 25px;
}

.partner-box.middle hr {
    width: 30px;
    color: lightgray;
}

.partner-box.middle p {
    margin: 30px 0;
}

/* FREE-TRY-SECTION */

#free-try-section {
    background-color: #b4d0e7;
    width: 100vw;
    height: 300px;
    justify-content: center;
}

.container-free-try-section {
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

#free-try-section h2 {
    width: 400px;
    padding: 0 100px 0 0;
    color: #61082b;
    font-weight: bolder;
}

#free-try-section button {
    padding: .5rem 2rem;
}

/* FAQ-SECTION */

#faq-section h2 {
    padding-bottom: 50px;
}

.faq {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #d0d0d3;
}

.faq:last-child {
    border-bottom: 1px solid #d0d0d3;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.footer-container {
    padding: var(--space);
    justify-content: space-around;
}

footer h3 {
    margin-bottom: 2rem;
}

footer li {
    margin: 1rem 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer hr {
    margin-top: var(--space);
    margin-bottom: calc(var(--space) / 2);
    width: 70%;
}

footer .lang {
    color: gray;
}